.status-message {
  border: 1px solid #c00;
  background: #fac7c7;
  padding: 10px;
}

.js-enabled .status-message {
  display: none;
}

.outerwrapper {
  width: 100%;
  position: relative;
  border: 1px solid #c8c7cf;
  display: none;
}
.outerwrapper h2, .outerwrapper h3, .outerwrapper p, .outerwrapper fieldset {
  padding: 10px 10px 0 10px;
  margin: 0;
}
.outerwrapper li {
  display: inline-block;
}
.outerwrapper .key {
  margin: 10px 0 0 0;
  padding-left: 10px;
}
.outerwrapper .key li {
  padding: 0 0 0 6px;
  margin: 4px 15px 8px 0;
}
.outerwrapper .agrd-select legend, .outerwrapper .agrd-select ul, .outerwrapper .agrd-select li {
  display: inline;
}
.outerwrapper .agrd-select ul {
  padding-left: 2px;
  margin-bottom: 10px;
}
.outerwrapper .agrd-select li {
  padding: 0 10px 0 0;
}
.outerwrapper .footnote {
  padding-top: 0px;
  font-size: 0.8em;
  color: #666;
}
.outerwrapper .chart {
  position: relative;
  margin-top: 10px;
  margin-bottom: -5px;
}
.outerwrapper .widget-tooltip {
  position: absolute;
  height: auto;
  padding: 6px 10px 6px 15px;
  color: #ccc;
  background-color: #333;
  pointer-events: none;
  font-size: 0.8em;
  line-height: 1.4em;
  opacity: 1;
  transition: opacity 0.2s ease;
}
.outerwrapper .widget-tooltip p {
  padding: 0;
}
.outerwrapper .tooltip-left:before {
  content: "";
  position: absolute;
  bottom: 13px;
  right: -7px;
  border-left: 8px solid #333;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 0;
}
.outerwrapper .tooltip-right:before {
  content: "";
  position: absolute;
  bottom: 13px;
  left: -7px;
  border-right: 8px solid #333;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 0;
}
.outerwrapper .hidden {
  opacity: 0;
  pointer-events: none;
}
